@import 'tailwindcss';

@theme {
  /* Breakpoints */
  /* --breakpoint-sm: 375px; */
  --breakpoint-sm: 640px;
  --breakpoint-md: 860px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1920px;
}

:root {
  --background: #F0F1F4;
  --foreground: #474747;
}

body {
  background-color: var(--background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--foreground);
}

.wrapper {
  @apply w-full sm:max-w-[calc(780px+40px)] md:max-w-[calc(1200px+40px)] lg:max-w-[calc(1440px+40px)];
  @apply mx-auto px-5;
}

#hero-swiper {
  .swiper-pagination {
    @apply bottom-[32px] sm:bottom-[36px] md:bottom-[67px] lg:bottom-[100px];
  }

  .swiper-pagination-bullet {
    @apply w-2 md:w-2.5 h-2 md:h-2.5 aspect-square m-[5px] py-0 shrink-0 opacity-[42%] bg-[#CBEC5E]
  }

  .swiper-pagination-bullet-active {
    @apply opacity-100
  }
}